/*** NORMALIZE ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  background: none;
  /* border: none; */
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("./assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("./assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "SourceSansPro", system-ui, -apple-system, sans-serif;
  --font-prox: "ProximaNova", system-ui, -apple-system, sans-serif;
  --color-blue: #002868;
  --color-red: #bf0a30;
  --color-gray: #333333;
  --color-light-gray: #b6b6b6;
}

#app {
  margin: 0 auto;
  width: 1460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#navbar {
  width: 100%;
  height: 200px;
  /* background-color: rgb(92, 92, 78, 0.7); */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5px;
}

.top-menu {
  width: 1078px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-family: var(--font-sans);
  gap: 1rem;
  margin: 10px 95px 10px 10px;
  align-self: end;
}

.top-menu h3 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

.top-menu .value,
.top-menu .value {
  font-family: var(--font-prox);
  font-size: 26px;
}

.top-menu .weather {
  margin-right: auto;
}

.top-menu .weather,
.top-menu .location {
  display: flex;
  flex-direction: column;
  text-align: end;
  line-height: 22px;
}

.top-menu .clock,
.top-menu .temp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.top-menu .F {
  opacity: 0.4;
}

.top-menu .login {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-right: 25px;
}

.top-menu .language {
  width: 46px;
  height: 20px;
}

#navbar .menu {
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 4.2rem;
  width: 1360px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;

  -webkit-mask-image: radial-gradient(
    circle 99px at 140px 30px,
    transparent 99%,
    #000 100%
  );
  mask-image: radial-gradient(
    circle 99px at 140px 30px,
    transparent 99%,
    #000 100%
  );
}

#navbar .logo {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 100px;
  top: 7px;
}

#navbar .menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 2.7rem;
  margin-right: 40px;
}

#navbar .menu li {
  font-size: 14px;
  font-family: var(--font-sans);
  font-weight: bold;
  color: var(--color-blue);
}

.signature {
  position: absolute;
  top: 140px;
  left: 286px;
  display: flex;
  flex-direction: column;
  width: 262px;
  align-items: center;
}

.slider {
  width: 100%;
  height: 750px;
  background-image:
    url("./assets/images/Left.png"), url("./assets/images/Right.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
}

.circle {
  background-image: url("./assets/images/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 500px;
  height: 500px;
  position: relative;
  top: 23%;
  left: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-sans);
  /* padding: 30px; */
  gap: 2rem;
  color: #ffffff;
}

.circle .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.circle h2 {
  font-size: 24px;
}
.circle p {
  /* padding: 0 50px; */
  width: 385px;
  line-height: 25px;
  word-break: keep-all;
  text-align: center;
  font-size: 16px;
}
.circle button,
.erga button {
  width: 200px;
  height: 50px;
  border: #ffffff 1px solid;
  border-radius: 5px;
  color: #ffffff;
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 14px;
}

.apografi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  background-image: url("./assets/images/apografi.png");
  height: 744px;
}

.apografi .tree {
  width: 255px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.apografi .tree-logo {
  height: 80px;
}

.apografi h1 {
  font-family: var(--font-sans);
  color: #bf0a30;
  font-size: 48px;
}

.apografi .body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  font-family: var(--font-sans);
}

.apografi .text-right,
.apografi .text-left {
  width: 475px;
  height: 245px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.apografi .body h3 {
  font-size: 18px;
  color: var(--color-blue);
}

.apografi .body p,
.apografi .body h2,
.apografi .body li {
  font-size: 16px;
  color: #333333;
}

.apografi ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.apografi li {
  padding-left: 1rem;
  position: relative;
}

.apografi li::before {
  position: absolute;
  left: 0px;
  top: 2px;
  content: url("./assets/images/list.svg");
}

.apografi .date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apografi .date h3,
.apografi .date h2 {
  color: var(--color-blue);
  font-family: var(--font-sans);
  font-weight: bold;
}
.apografi .date h3:first-child {
  color: var(--color-red);
}

.apografi .date h3 {
  font-size: 18px;
}
.apografi .date h2 {
  font-size: 34px;
}

.erga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 650px;
  background-color: var(--color-blue);
  font-family: var(--font-sans);
}

.erga .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  letter-spacing: 2px;
}

.erga .body {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.erga-item {
  width: 300px;
  height: 413px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.erga .body h2 {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.erga .body h2 {
  font-size: 16px;
}

.erga .body button {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  align-items: center;
  gap: 5px;
}

.contact,
.form-container,
fieldset {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.form-container {
  width: 740px;
  height: 457px;
  margin: 50px 0;
}

.form-container legend {
  font-family: var(--font-sans);
  font-weight: bold;
  color: var(--color-blue);
  letter-spacing: 2px;
  margin: 0 auto 1rem auto;
}

.form-container fieldset {
  border: none;
  width: 619px;
}

.form-group {
  width: 619px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-family: var(--font-sans);
  font-size: 12px;
  color: var(--color-gray);
}

.form-group input,
.form-group textarea {
  border: var(--color-light-gray) solid 1px;
  border-radius: 4px;
}

.form-group input {
  height: 46px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: var(--color-blue) 2px solid;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.input-wrapper img {
  position: absolute;
  left: 10px;
}

.input-wrapper input {
  width: 100%;
}

.form-button {
  background-color: var(--color-blue);
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  position: relative;
  border-radius: 4px;
  align-self: end;
}

.form-button img {
  position: absolute;
  right: 20px;
}

.footer {
  width: 100%;
  height: 420px;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

#to-top {
  position: absolute;
  top: -20px;
  right: 100px;
}

#to-top:hover {
  cursor: pointer;
}

.footer .paf {
  width: 262px;
  height: 23px;
}

.footer .socials {
  width: 320px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer .menu {
  width: 1101px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: bold;
}

.footer .copyright {
  font-family: var(--font-sans);
  font-size: 14px;
  opacity: 0.5;
  font-weight: lighter;
  letter-spacing: 0.6px;
}

/*** HOVERS ***/
.top-menu .login:hover {
  color: var(--color-red);
  cursor: pointer;
}

.top-menu .language:hover {
  cursor: pointer;
}

.menu a:hover {
  color: var(--color-red);
}

.form-button:hover {
  background-color: var(--color-red);
  border: var(--color-red);
}
