/*** NORMALIZE ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  background: none;
  /* border: none; */
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("./assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("./assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "SourceSansPro", system-ui, -apple-system, sans-serif;
  --font-prox: "ProximaNova", system-ui, -apple-system, sans-serif;
}

#app {
  margin: 0 auto;
  width: 1460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  width: 100%;
  height: 200px;
  /* background-color: rgb(92, 92, 78, 0.7); */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5px;
}

.top-menu {
  display: flex;
  flex-direction: row;
  background-color: #ffffff00;
}

#navbar .menu {
  background-color: #ffffff;
  position: relative;
  width: 1360px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#navbar .menu .logo {
  width: 180px;
  height: 180px;
  background-image: url("./src/assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  object-position: center;
  object-fit: cover;
  position: absolute;
  left: 10px;
  top: -62px;
}

#navbar .menu ul {
  width: 100%;
  padding-left: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-family: var(--font-sans);
  font-weight: bold;
  color: #002868;
}

.signature {
  /* position: absolute; */
  /* top: 14%; */
  /* left: 26%; */
  /* justify-self: auto; */
  display: flex;
  flex-direction: column;
  width: 262px;
  align-items: center;
}

.slider {
  width: 100%;
  height: 750px;
  background-image:
    url("./assets/images/Left.png"), url("./assets/images/Right.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
}

.circle {
  background-image: url("./assets/images/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 500px;
  height: 500px;
  position: relative;
  top: 23%;
  left: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-sans);
  /* padding: 30px; */
  gap: 2rem;
  color: #ffffff;
}

.circle .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.circle h2 {
  font-size: 24px;
}
.circle p {
  padding: 0 50px;
  text-align: center;
  font-size: 16px;
}
.circle button {
  width: 200px;
  height: 50px;
  border: #ffffff 1px solid;
  border-radius: 5px;
  color: #ffffff;
}

.apografi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("./assets/images/apografi.png");
  height: 744px;
}

.apografi h1 {
  font-family: var(--font-sans);
  color: #bf0a30;
  font-size: 48px;
}

.erga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  background-color: #002868;
}

.form-container {
  background-color: #ffffff;
}

.footer {
  width: 100%;
  height: 442px;
  background-color: #002868;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
